<%- include partials/header.ejs %>

  <section class='banner container-fluid'>
    <header class='jumbotron'>
      <h1>Houses for Rent</h1>
      <div>
        <a href='/houses' class='btn btn-primary'>All Properties</a>
        <a href='/houses/new' class='btn btn-secondary'>List your Property</a>
      </div>
      <input type='text' placeholder="Property Name"/>
      
    </header>
  </section>

<%- include partials/footer.ejs %>